.DS_Store
**/.DS_Store
**/__pycache__
CamVid/
Cityscapes
.idea/FCN-pytorch.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
